/* los estilos para todo el sitio web */

body {
    color: darkslategrey;
    font-family: Ubuntu, Georgia, Garamond, Impact, monospace;
    background-color:  #292c284e;
}

div {
    width: 1000px;
    /*border: 2px solid darkslategray;*/
    background-color: darkslategrey;
    margin: 16px auto;
    padding: 8px;
}

h1, h2, h3 {
    text-align: center;
    text-shadow: rgb(128, 128, 128);
    text-decoration: wavy;
    font-weight: 900;
    padding: 8px;
    background-color:  #d3ffc4;
    margin-bottom: 8px;
    margin-top: 0;

}

h1 {
    font-size: 32px;
}

h2 {
    font-size:  25px;
}

h3 {
    font-size: 19px;
}

img {
    height: auto;
    width: 500px;
}

p, ol, ul {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 8px;
    margin-top: 0;
}

li {
    margin-bottom: 8px;
    background-color:  #d3ffc4;
}

p {
    text-align: justify;
}

.heavy {
    font-weight: 800;
}