/* los estilos para todo el sitio web */

* {
    background-color: #d3ffc4;

}

h1, h2, h3 {
    text-align: left;
    text-shadow: rgb(128, 128, 128);
    text-decoration: wavy;

}

h1, h2, h3, p, ol, ul {
    color: darkslategrey;
    font-family: Ubuntu, Georgia, Garamond, Impact, monospace;
    font-weight: 900;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size:  25px;
}

h3 {
    font-size: 19px;
}

img {
    height: auto;
    width: 500px;
}

p, ol, ul {
    font-weight: 300;
    font-size: 17px;
}

p {
    text-align: justify;
}

div {
    width: 50%;
}

.heavy {
    font-weight: 800;
}